.two-panel-section {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

@media (min-width: 1024px) {
  .two-panel-section {
    flex-direction: row;
  }
}

.panel {
  flex: 1;
  position: relative;
  padding: 5rem 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Left Panel Styles */
.left-panel {
  background: repeating-linear-gradient(90deg,
      #ebff2f 0,
      #ebff2f 40px,
      white 40px,
      white 80px);
}

.left-panel h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 1rem;
  font-family: "Lobster", cursive;
  font-optical-sizing: auto;
}

.left-panel p {
  max-width: 500px;
  color: #444;
  margin-bottom: 1.5rem;
  font-family: "Montserrat", cursive;
  font-optical-sizing: auto;
}

.left-panel button {
  padding: 0.5rem 1.5rem;
  border: 1px solid black;
  background: transparent;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
  font-family: "Lobster", cursive;
  font-optical-sizing: auto;
}

.left-panel button:hover {
  background: black;
  color: white;
}

/* Right Panel Styles */
.right-panel {
  /* background-color: #e0f4ff; */
  background-image: url("https://freedesignfile.com/upload/2014/08/Medical-tablets-with-capsules-background-vector-02.jpg");
  overflow: hidden;
  padding: 2rem;
}

.right-content-box {
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  border: 1px solid #ccc;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  padding: 3rem 2rem;
  max-width: 600px;
  width: 100%;
  text-align: center;
}

.right-content-box h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 1rem;
  font-family: "Lobster", cursive;
  font-optical-sizing: auto;
}

.right-content-box p {
  color: #444;
  margin-bottom: 1.5rem;
  font-family: "Montserrat", cursive;
  font-optical-sizing: auto;
}

.right-content-box button {
  padding: 0.5rem 1.5rem;
  border: 1px solid black;
  background: transparent;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
  font-family: "Lobster", cursive;
  font-optical-sizing: auto;
}

.right-content-box button:hover {
  background: black;
  color: white;
}

/* Floating Images */
.floating-img {
  position: absolute;
  width: 100px;
}

.top-left {
  top: -30px;
  left: -30px;
  transform: rotate(25deg);
}

.bottom-right {
  bottom: -20px;
  right: 20px;
  transform: rotate(12deg);
}

.top-right {
  top: -10px;
  right: -10px;
  transform: rotate(15deg);
  opacity: 0.7;
}